<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>PitchMen.html</welcome-file>
  </welcome-file-list>

<!-- PitchMenAdmin-Servlet -->
  <servlet>
    <servlet-name>pitchMenAdminImpl</servlet-name>
    <servlet-class>de.pitchMen.server.PitchMenAdminImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>pitchMenAdminImpl</servlet-name>
    <url-pattern>/pitchmen/pitchmenadmin</url-pattern>
  </servlet-mapping>

<!-- ReportGenerator-Servlet -->  
  <servlet>
    <servlet-name>reportGeneratorServlet</servlet-name>
    <servlet-class>de.pitchMen.server.report.ReportGeneratorImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>reportGeneratorServlet</servlet-name>
    <url-pattern>/pitchmen/reportgenerator</url-pattern>
  </servlet-mapping>
  
</web-app>